<%- include("partials/header.ejs")  %>


<div class="container">
   <header class="jumbotron">
      <div class="container">
         <h1>Welcome to SerenityCamp</h1>
         <p>View our hand-picked campgrounds all over the world.</p>
         <p>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
         </p>
      </div>
   </header>


   <div class="row text-center d-flex flex-wrap">
      <% campgrounds.forEach((campground)=>{ %>
      <div class="col-md-3 col-sm-6 ">
         <div class="card mb-3">
            <img class="card-img-top" src="<%= campground.image %>" alt="Card image cap">
            <div class="card-body">
               <h5 class="card-title"><%= campground.name %></h5>
            </div>
         </div>
      </div>
      <% }) %>
   </div>

</div>

<%- include("partials/footer.ejs")  %>