<%- include("partials/header.ejs")  %>
<h1>Login</h1>

<form action="/login" method="POST">
   <input type="text" name="username" id="" placeholder="Username">
   <input type="password" name="password" id="" placeholder="Password">
   <button>Submit</button>
</form>
<%- include("partials/footer.ejs")  %>